<div class="col-12 text-center signup">
  <div class="table table-bordered signup-inner">
    <h1>SNUSTA</h1>

    <%= render 'form', user: @user %>

    <%= link_to 'Back', users_path %>
  </div>
</div>

