<div class="container new-post col-12">
<<<<<<< Updated upstream
  <h6 class="text-center" style="padding-top:10px">새 게시물</h6>
=======
  <h6 class="text-center">새 게시물</h6>
>>>>>>> Stashed changes
  <hr>
  <%= render 'form', post: @post %>
</div>
