@import "bootstrap";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  min-width: 400px;
  width: auto !important;
  position: relative;
  height: 100%;
  margin: 0;
  background-color: #fafafa;
}

.header {
  background-color: white;
}

.signup-field, .signin-field {
  margin-top: 4%;
  margin-bottom: 4%;
}

.signup {
  padding-top: 15%;
  width: 380px;
  height: 55%;
}

.signin {
  padding-top: 25%;
  width: 380px;
  height: 50%;
}
.signup-title {
  padding-top: 5%;
  padding-bottom: 5%;
  color: #999;
}
.signup-text{
  font-size: 0.9em;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #999;
}

.signup-submit, .signin-submit {
  margin-top: 5%;
  width: 100%;
}

.signup-inner, .signin-inner{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: #e6e6e6 solid 1px;
}
.signup-inner-bottom, .signin-inner-bottom {
  background-color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
  border: #e6e6e6 solid 1px;
}

.frame {
  padding-top: 40px;
  height: 80%;
  width: 100%;
}

#error_explanation {
  text-align: left;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  border-radius: 4px;
}

#error_explanation > h2 {
  font-size: 1rem;
  font-weight: bold;
  display: none;
}

.nav-contents {
  padding-left: 10%;
}
.profile-img {
  border-radius: 50%;
  min-width: 150px;
  max-width: 200px;
}

.profile-top{
  margin-top: 5%;
  margin-bottom: 5%;
  min-width: 700px;
}

.profile-text{
  margin-right: 5%;
}

.profile-name{
  font-size: 2rem;
  margin-right: 3%;
}

.profile-edit{
  background-color: white;
  border: solid 1px #dbdbdb;
  font-size: 1rem;
  margin-bottom: 2%;
}

.profile-top-right{
  padding-top: 5%;
}

.profile-right {
  font-size: 1.5rem;
}

.posting-icon{
  padding-top: 8px;
  padding-bottom: 10px;
  min-width: 45px;
  max-width: 45px;
  width: 5%;
  background-color: white;
}

.footer {
  border-top: lightgrey solid 1px;
  background-color: white;
  height: 50px;
  vertical-align: middle;
}

.new-post {
  background-color: white;
  width: 100%;
  height: 100%;
}

.post-content{
  height: 50%;
  padding: 5px;
}
