<style>
  .footer > div > .col {
    padding-top: 10px;
  }
  i.fa{
    color: grey
  }
  .footer div > a {
    display: inline-block; /*a tag가 전체에 꽉차도록*/
    height: 100%;
    width: 100%;
  }
  .footer div> span {
    display: inline-block;
    width:100%;

  }
</style>

<div class="footer fixed-bottom text-center">
  <div class="row">
    <div class="col"> <!-- bootstrap4 div.row 클래스 아래에 div.col 클래스를 주면 동일 가중치 width로 나눔-->
      <a href="<%=root_path%>">
        <i class="fa fa-home fa-2x"></i>
      </a>
    </div>
    <div class="col">
      <a href="#">
        <i class="fa fa-search fa-2x"></i>
      </a>
    </div>
    <div class="col">
      <!-- 자바스크립트까지 배워야해서 패스..-->
      <!--<form action="<%=new_post_path%>" onclick="document.getElementById('img_path').click();">-->
        <!--<input type="file" id="img_path" name="img_path"  accept="image/gif, image/jpeg, image/png" style="display: none;" onchange="this.form.submit()"/>-->
        <!--<i class="fa fa-camera-retro fa-2x"></i>-->
      <!--</form>-->
      <a href="<%=new_post_path%>">
        <i class="fa fa-camera-retro fa-2x"></i>
      </a>
    </div>
    <div class="col">
      <a href="#">
        <i class="fa fa-heart-o fa-2x"></i>
      </a>
    </div>
    <div class="col">
      <a href="<%=profile_path(current_user.name)%>">
        <i class="fa fa-user fa-2x"></i>
      </a>
    </div>
  </div>
</div>